.main-container{
    
    height: 550px;
    margin:0 50px 0 50px;
}
.sub-container{
    background-color: rgb(254,109,0);
    height: 550px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.form-group{
    display: flex;
    border: none;
}
.form-group button{
    border: none;
}