<footer class="container">
    <div class="div-left">
        <div class="email-sec">
            <h4 style="color: white;font-weight: 200;">Sign up and <br>get free content every week.</h4>
            <input type="text" placeholder="Enter your email.">
            <button>Sign up</button>
        </div>
    </div>
    <div class="div-right">
        <h2 style="color: white;">Browse by catagories.</h2>
        <div class="brows-cat">
            <div class="left1">
                <h6>Graphics</h6>
                <h6>PSDs</h6>
                <h6>Icons</h6>
                <h6>Templates</h6>
                <h6>Themes</h6>
            </div>
            <div class="left2">
                <h6>Addons</h6>
                <h6>Fonts</h6>
                <h6>Textures</h6>
                <h6>Patterns</h6>
                <h6>Backgrounds</h6>
            </div>
            <div class="left3">
                <h6>Buttons</h6>
                <h6>Forms</h6>
                <h6>GUI</h6>
                <h6>Navigation</h6>
                <h6>UI Kits</h6>
            </div>
            <div class="left4">
                <h6>Inforgraphics</h6>
                <h6>Graphs</h6>
                <h6>Logos</h6>
                <h6>Vectors</h6>
                <h6>Business Cards</h6>
            </div>
        </div>
    </div>
</footer>